@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
}

/* paging */
.page {
	text-align: center;
	width: 70%;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
}

.pagination li {
	display: inline;
	text-align: center;
}

.pagination a {
	float: left;
	display: blick;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	line-height: 1.5;
	border: 1px solid #ddd;
	transition: background-color .3s;
	border-radius: 40px;
}

.previous:hover, .next:hover {
	color: #74b49b
}

.pagination a.active {
	cursor: default;
	background-color: #74b49b;
}

.pagination a:active {
	outline: none;
}

.modal_2 .num {
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.modal_2 .num a:hover {
	background-color: #dddddd;
	color: #000;
}

.modal_2 .active a {
	background-color: #74b49b;
	color: #ffffff;
	cursor: pointer;
}

#contentEtc{
	margin-right:0;
}

#regbtn {
	background: #74b49b;
	color: #fff;
	border: none;
	position: relative;
	height: 40px;
	font-size: 16px;
	padding: 0 15px;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	font-family:Jua;
}

#regbtn:hover {
	background: #fff;
	color: #74b49b;
}

#regbtn:before, #regbtn:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #74b49b;
	transition: 400ms ease all;
}

#regbtn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

#regbtn:hover:before, #regbtn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

#tablebox {
	width: 100%
}

#table {
	width: 1100px;
	margin: 0 auto;
}

.board, .board th, board td {
	border: 0
}

.board a {
	color: #383838;
	text-decoration: none
}

.board {
	width: 100%;
	border-bottom: 1px solid #999;
	color: #666;
	font-size: 12px;
	table-layout: fixed
}

.board caption {
	display: none
}

.board th {
	padding: 5px 0 6px;
	border-top: solid 1px #999;
	border-bottom: solid 1px #b2b2b2;
	background-color: #f1f1f4;
	color: #333;
	font-weight: bold;
	line-height: 20px;
	vertical-align: top
}

.board td {
	padding: 8px 0 9px;
	boder-bottom: solid 1px #d2d2d2;
	text-align: center;
	line-height: 18px;
}

.board .rdate, .board .views {
	padding: 0;
	font-family: Tahoma;
	font-size: 11px;
	line-height: nomal
}

.board .title {
	text-align: left;
	padding-left: 15px;
	font-size: 13px;
}

.board .tilte .pic, .board .title .new {
	margin: 0 0 2px;
	vertical-align: middle
}

.board .title a.comment {
	padding: 0;
	background: none;
	color: #f00;
	font-size: 12px;
	font-weight: bold
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}